{% extends 'base.html.twig' %}

{% block title %}ACCEUIL{% endblock %}

{% block body %}

<h1>ACCUEIL</h1>

<div class="sess-home">
    <h2>SESSIONS PASSEES</h2>
            
    {% if pastSessions | length == 0 %}
       
    <p class="val-null">Pas de sessions terminées</p>

    {% else %}
        <table>
            <thead>
                <tr>
                    <th>INTITULE</th>
                    <th>REFERENT</th>
                    <th>DATES</th>
                    <th>NOMBRE DE PLACES</th>       
                </tr>
            </thead>
            <tbody>
                {% for session in pastSessions %}
                    <tr>
                        <td><a href="{{ path('show_session', {'id': session.id}) }}">{{ session.intitule }}</a></td>
                        <td><a href="{{ path('show_formateur', {'id': session.formateur.id}) }}">{{ session.formateur }}</a></td>
                        <td>{{ session.dateDebut | date("m/d/Y") ~' au '~ session.dateFin | date("m/d/Y")  }}</td>
                        <td>{{ session.nbPlace }}</td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
    {% endif %}  
</div>

<div class="sess-home">
    <h2>SESSIONS EN COURS</h2>

    {% if currentSessions | length == 0 %}
        
        <p class="val-null">Il n'y a pas de sessions en cours</p>

    {% else %}
        <table>
            <thead>
                <tr>
                    <th>INTITULE</th>
                    <th>REFERENT</th>
                    <th>DATES</th>
                    <th>NOMBRE DE PLACES</th>       
                </tr>
            </thead>
            <tbody>
                {% for session in currentSessions %}
                    <tr>
                        <td><a href="{{ path('show_session', {'id': session.id})}}">{{ session.intitule }}</a></td>
                        <td><a href="{{ path('show_formateur', {'id': session.formateur.id})}}">{{ session.formateur }}</a></td>
                        <td>{{ session.dateDebut | date("m/d/Y") ~' au '~ session.dateFin | date("m/d/Y")  }}</td>
                        <td>{{ session.nbPlace }}</td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

<div class="sess-home">
    <h2>SESSIONS A VENIR</h2>
            
    {% if upcomingSessions | length == 0 %}
        
    <p class="val-null">Il n'y a pas de sessions à venir</p>

    {% else %}
        <table>
            <thead>
                <tr>
                    <th>INTITULE</th>
                    <th>REFERENT</th>
                    <th>DATES</th>
                    <th>NOMBRE DE PLACES</th>       
                </tr>
            </thead>
            <tbody>
                {% for session in upcomingSessions %}
                    <tr>
                        <td><a href="{{ path('show_session', {'id': session.id})}}">{{ session.intitule }}</a></td>
                        <td><a href="{{ path('show_formateur', {'id': session.formateur.id})}}">{{ session.formateur }}</a></td>
                        <td>{{ session.dateDebut|date("m/d/Y") ~' au '~ session.dateFin|date("m/d/Y")  }}</td>
                        <td>{{ session.nbPlace }}</td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
