{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1> {{ session }} </h1>

    <p><a  href="{{ path('edit_session', {'id': session.id}) }}"><i class="bi bi-pencil-square"></i></a></p>   
    <div class="">
            - Formateur référent : {{ session.formateur }}<br>
            - Date de début : {{ session.dateDebut | date('d-m-Y') }}<br>
            - Date de fin : {{ session.dateFin | date('d-m-Y') }}<br>
            - Nombre de places : {{ session.nbPlace }}<br>
            - Nombre de modules : {{ session.programmers | length }}
            ({% for module in session.programmers %}
            {{ module.progMod }},
        {% endfor %})     
    </div>
    <div>
        <h3>Modules de la Session</h3>
        {% for programmer in session.programmers %}
            <tr>
                <td>
                    - {{ programmer.duree }}
                    - {{ programmer.progMod.titreMod }}
                </td>

            </tr> 
        {% endfor %}
        </div>
    <div>
        {% for stagiaire in session.inscrit %}
        <tr>
            <td>-<a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}"> {{ stagiaire }}<br></a></td>
        </tr>
        {% endfor %}
    </div>
{% endblock %}