{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
<h1> {{ session }} <a href="{{ path('edit_session', {'id': session.id}) }}"><i class="fa-solid fa-pen-to-square"></i></i></a></h1>


    <div class="">
        - Formateur référent : {{ session.formateur }}<br>
        - Date de début : {{ session.dateDebut | date('d-m-Y') }}<br>
        - Date de fin : {{ session.dateFin | date('d-m-Y') }}<br>
        - Nombre de places : {{ session.nbPlace }}<br>
        - Nombre de modules : {{ session.programmers | length }}

    </div>
    <div>
        <h3>Modules de la Session</h3>
        {% for programmer in session.programmers %}
        <tr>
            <td>                
                - {{ programmer.progMod.titreMod }}
                ({{ programmer.duree }} Jours)
            </td>

        </tr>
        {% endfor %}
    </div>

    <div>
        <h3>Stagiaires inscrits</h3>
        {% for stagiaire in session.inscrit %}
        <tr>
            <td>-<a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}"> {{ stagiaire }}<br></a></td>
        </tr>
        {% endfor %}
    </div>

    <div>
        <h3>Stagiaires non inscrits</h3>
        {% for stagiaire in nonInscrits %}
            <td>-<a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}"> {{ stagiaire }}<br></a></td>
            {# <td>-<a href="{{ path('add_stagiaire_session', {'idSt': stagiaire.id, 'idSe':session.id}) }}"> {{ stagiaire }}<br></a></td> #}

            
        {% endfor %}
    </div>

{% endblock %}